<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NUze</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="#GoCats">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-12">
          <div class="feed-wrapper">
            <div id="feed"></div>
            <!--
            <div class="feed-item">
                <div class="logo-wrapper"><i class="fa fa-twitter fa-3x"></i></div>
                <div class="content-wrapper">
                  <p><strong>Northwestern News</strong> @Northwestern U </p>
                  <p class="lead">Four students and one alumnus from @BienenSchoolNU will perform today at 5:00pm CST @kencen in D.C. Watch it live: http://bit.ly/1yMoK3n</p>
                </div>
            </div>
            -->
          </div>
        </div>
        <i class="fa fa-caret-right fa-5x"></i>
        <div class="col-md-8 col-sm-7 col-xs-0">
          <div class="enlarge-wrapper">
            <div class="enlarge-header">
              <img class="img-responsive logo" src="img/logo.jpg">
              <p class="enlarge-text"><strong>Northwestern News</strong> @Northwestern U </p>
              <i class="fa fa-twitter fa-3x"></i>
            </div>
            <img class="img-responsive" src="img/kanye.jpg">
            <p class="lead enlarge-tweet">Spotted at tonite's @chicagobulls game: @NorthwesternU President Morty Schapiro &amp; North West dad @kanyewest! #B1GCats</p>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="js/app.js"></script>

    <script type="text/template" id="story_item">
      <div class="feed-item">
        <div class="logo-wrapper"><img width="48px" src="<%- logo %>"></img></div>
        <div class="content-wrapper">
          <p><strong><%- source %></strong></p>
          <a href="<%- url %>" data-id="<%- cid %>" class="story" target="_blank"><p class="lead"><%- title %></p></a>
        </div>
      </div>
    </script>

    <script type="text/template" id="yak_item">
      <div class="feed-item">
        <div class="logo-wrapper"><img width="48px" src="<%- logo %>"></img></div>
        <div class="content-wrapper">
          <p><strong><%- source %></strong></p>
          <p class="lead"><%- message %></p>
        </div>
      </div>
    </script>

    <script type="text/template" id="insta_item">
      <div class="feed-item">
        <div class="logo-wrapper"><img width="48px" src="<%- logo %>"></img></div>
        <div class="content-wrapper">
          <p><strong><%- source %></strong></p>
          <img src="<%- url %>"></img>
        </div>
      </div>
    </script>

  </body>

</html>
