<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">NUze</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><button id="newbtn" type="button" class="btn btn-default navbar-btn disabled">New</button></li>
            <li><button id="popularbtn" type="button" class="btn btn-default navbar-btn">Popular</button></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4 col-sm-5 col-xs-12">
          <img class="loading-icon center-block" src="img/loading.gif"></img>
          <div class="feed-wrapper" style="display: none;">
            <div id="feed"></div>
          </div>
        </div>
        <i class="fa fa-caret-right fa-5x"></i>
        <div class="col-md-8 col-sm-7 col-xs-0">
          <div id="big_item_spot"></div>
        </div>
      </div>
    </div> <!-- /container -->

    <script type="text/template" id="feed_item">
    <div data-cid="<%- cid %>" class="feed-item">
      <div class="logo-wrapper"><img width="48px" src="<%- logo %>"></img></div>
      <div class="content-wrapper">
        <% if (typeof(username) != "undefined") { %>
          <p><strong><%- name %></strong> <%- username %> </p>
        <% } else { %>
          <p><strong><%- source %></strong></p>
        <% } %>

        <p class="date"><%- moment(date).startOf('minute').fromNow() %></p>

        <% if (typeof(score) != "undefined") { %>
          <p class="score"><%- score %></p>
        <% } %>

        <% if ( typeof(url) != "undefined" ) { %> <a href="<%- url %>"> <% } %>
        <p class=""><%- text %></p>
        <% if ( typeof(url) != "undefined" ) { %> </a>  <% } %>

        <%if (typeof(picurl) != "undefined") { %>
          <img class="img-responsive" src="<%- picurl %>"></img>
        <% } %>
      </div>
    </div>
    </script>

    <script type="text/template" id="big_feed_item">

      <div data-cid="<%- cid %>" class="feed-item large-item">
        <div class="enlarge-wrapper">
          <div class="enlarge-header">
            <img class="source-img" width="48px" src="<%- logo %>"></img>
            <% if (typeof(username) != "undefined") { %>
              <p class="byline"><strong><%- name %></strong> @<%- username %> </p>
            <% } else { %>
              <% if (typeof(rssfeed) != "undefined") { %>
                <p class="byline" ><strong><%- rssfeed %></strong></p>
              <% } else { %>
                <p class="byline" ><strong><%- source %></strong></p>
              <% } %>
            <% } %>
          </div>

          <p class="date"><%- moment(date).startOf('minute').fromNow() %></p>

          <% if ( typeof(url) != "undefined") { %> <a href="<%- url %>"> <% } %>
            <p class="lead" id="big-text"><%- text %></p>
            <% if ( typeof(url) != "undefined" ) { %> </a>  <% } %>
            <%if (typeof(picurl) != "undefined") { %>
              <img class="img-responsive" src="<%- picurl %>"></img>
            <% } %>
        </div>
      </div>

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/backbonefire/0.5.1/backbonefire.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/anim.js"></script>

</body>

</html>